// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$gray: #0E0000;
$light-gray: #F4F4F4;

// MTE defined
$light-red: rgb(255, 119, 119);

$green: rgb(12, 196, 101);
$light-green: rgba(32, 255, 140, 0.1);

$orange: rgb(255, 123, 0);


$dark-grey: rgb(72, 72, 72);
$font-light-grey: rgb(147, 147, 147);