// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$gray: #0E0000;
$light-gray: #F4F4F4;

// MTE defined
$light-red: rgb(255, 159, 159);

$green: rgb(12, 196, 101);
$light-green: rgba(32, 255, 140, 0.1);

$orange: rgb(255, 123, 0);

$light-grey: rgb(189, 189, 189);
$dark-grey: rgb(72, 72, 72);


$font-light-grey: rgb(147, 147, 147);
$font-dark-grey: rgb(72,72,72);