<h1>Bienvenue</h1>

<p>
  <%= @user.prenom %> bienvenue chez Keyz,
  Jamais la gestion locative n'a été aussi simple !

  Restez connecté et suivez de près la rentabilité de vos investissements.
</p>
