<!-- BANNER -->

<div class="home-banner">
  <div class="container">
    <h1>Avec <strong> Keyz</strong>, optimisez vos investissements locatifs !</h1>
    <h3>Evaluez la performance financière de vos biens</h3>
    <%= link_to "Je me connecte", new_user_session_path, class: "btn btn-gradient" %>
    <p> Pas encore inscrit?<%= link_to " Créez votre compte", new_user_registration_path %> </p>
  </div>
</div>

