.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-gradient {
  color: white;
  padding: 16px 32px;
  border-radius: 4px;

  background: linear-gradient(#152f70da, #152F70);
  transition: background 0.3s ease;
  border: 1px solid #152F70;
}

.btn-gradient:hover {
  background: linear-gradient(#234db8d2, #234db8d2);
  color: white;
}