.graph-card {
    flex: 1 1 auto;
    background-color: white;
    border-radius: 8px;

    canvas {
        width: 100px;
    }
}

.graph-card-show {
    margin-left: 16px;
		height: 250px;
}

.graph {
    padding: 8px;
}

.graph-show {
    padding: 8px;
}
