.kpi-card {
    width: 30%;
    height: 100px;

    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
		color: white;

}

.kpi-big-number {
    // width: 60%;

    font-size: 2rem;
    font-weight: bolder;

    padding-left: 16px;
    margin: 0;

    text-align: center;

    .kpi-little-symbol {
        font-size: 24px;
    }
}


.kpi-metric-name {
    // width: 40%;

    font-size: 16px;

    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
		text-align: center;
}
