// APPARTMENT LIST
.card-product {
    overflow: hidden;
    height: 100px;
    margin-bottom: 8px;
    border-radius: 3px;

    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-product i {
    font-size: 28px;
    padding: 16px;
    color: $dark-grey;
}

.card-product-informations {
    width: 25%;
    display: flex;
    justify-content: center;
}

.card-product-quick-actions {
    width: 35%;
    display: flex;
    justify-content: center;
}



.card-product img {
    height: 100%;
    width: 120px;
    object-fit: cover;
}

.card-product h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}


.card-product .card-product-infos {
    padding: 16px;
}

.txt-hover:hover {
    text-decoration: none;
}
