// Layout
.card-product {
    overflow: hidden;
    height: 80px;
    margin-bottom: 8px;
    border-radius: 3px;

    background: white;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

// Left-part
.card-product i {
    font-size: 28px;
    padding: 16px;
    color: white;
}


.card-product-informations {
    width: 25%;
    display: flex;
    justify-content: flex-start;

    .card-product-text-infos {
        min-width: 280px;
        display: flex;
        align-items: center;
        font-size: 1.2rem;

        a {
            width: 100%;
            font-weight: 500;
            text-decoration: none;
						color: white;
        }
				a:hover { color: rgb(125, 125, 128);}
    }
}

// Right part
.card-product-quick-actions {
    width: 35%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
		// color: white;
		// .tool {
			// display: none;
		// }

		// i {
			// position: relative;
		// }
		// .tool:hover {
			// display: block;
			// position: absolute;
		// }
}


// Other
.card-product-new-bien {
    height: 40px;
    margin-bottom: 8px;
    border-radius: 3px;

    background: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    i {
        font-size: 16px;
        margin-right: 8px;
        // color: white;
    }
}
