// Layout
.card-product {
    overflow: hidden;
    height: 80px;
    margin-bottom: 8px;
    border-radius: 8px;

    background: white;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-product:hover{
  box-shadow: 1px 3px 20px grey;
 -webkit-transition: box-shadow .6s
}

// Left-part
.card-product i {
    font-size: 28px;
    padding-left: 28px;
    padding-right: 16px;
    color: #152f70;
}

.card-product-icone-text{
  font-size: 16px;
  text-align: left;
  color: #152f70;
}

.card-product-icone-text i{
  font-size: 18px;
  text-align: left;
  color: #152f70;
  width: 62px;
}

.card-product-icone-text a{
  font-size: 16px;
  text-align: center;
  color: #152f70;
}

.card-product-icone-text a:hover{
  text-decoration: none;
  opacity: 0.5;
}

.card-product-informations {
    width: 25%;
    display: flex;
    justify-content: flex-start;

    .card-product-text-infos {
        min-width: 280px;
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        color: #152f70;
        font-weight: bold;

        a {
            width: 100%;
            font-weight: 500;
            text-decoration: none;
						color: #152f70;
        }
				a:hover { color: rgb(125, 125, 128);}
    }
}

// Right part
.card-product-quick-actions {
    width: 35%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-right: 20px;

		// color: white;
		// .tool {
			// display: none;
		// }

		// i {
			// position: relative;
		// }
		// .tool:hover {
			// display: block;
			// position: absolute;
		// }
}


// Other
.card-product-new-bien {
    height: 80px;
    margin-bottom: 8px;
    border-radius: 8px;
    font-size: 28px;

    background: white;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);

    display: flex;
    align-items: center;
    justify-content: center;

    i {
        font-size: 20px;
        margin-right: 8px;
        color: grey;
        // color: white;
    }
}

