#map {
  width: 80%; 
  height: 360px;
  margin-bottom: 16px;

  border-radius: 3px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
