.navbar-lewagon {
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.5s background-color ease;
  position:absolute;
  width: 100%;
}

.navbar-lewagon-white {
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}
.navbar-body {
	background-color: #152F70;

}

.absolute-body {
	position: static;
}
