
// Base layout 
.section-card {
    background-color: white;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    border-radius: 3px;
    border-top: 16px;
}


// Style
.section-pop-up {
    font-size: 100%;
}

.section-graph {
    display: flex;
    justify-content: space-around;
    width: 100%;
}



// Event
.section-alert {
    background-color:$light-red;
    color: white;
}

.section-success {
    background-color: $light-green;
    color: white;
}









.section-title {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 16px;

    h1 {
        font-size: 32px;
    }
}

.section-head {
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 3px;

    .section-text-loyer {
        font-size: 16px;
        font-style: italic;
    }

    .section-text-depense {
        font-size: 16px;
    }
}



.form-input {
    font-size: 14px;
}

.section-add-loyer {
    width: 400px;
}

.section-add-depense {
    width: 600px;
}